/* ------------------------ Global style ------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}
.container {
  margin: 170px 200px 0px 200px;
}
.container-full {
  margin-top: 170px;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.btn-parimary {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 18px 35px;
  border-radius: 5px;
  background: #e55473;
  border: none;
  cursor: pointer;
}
.color-primary {
  color: #e55473;
}
.section-title {
  color: #272727;
  font-size: 35px;
  font-weight: 800;
}
.section-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.center {
  text-align: center;
}
.mr-right {
  margin-right: 10px;
}
.padding-tb {
  padding: 24px 0px;
}
.white {
  color: white;
}
.less-white {
  color: rgba(255, 255, 255, 0.9);
}
.gray {
  color: rgba(255, 255, 255, 0.4);
}
/* ------------------------ X ------------------------ */

/* ------------------------ header style ------------------------ */
.header {
  background-color: rgba(229, 84, 115, 0.1);
}
.header-container {
  margin: 0px 200px;
}
.text-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-img > img {
  width: 500px;
  margin-top: 50px;
}
.header-title {
  font-weight: 800;
  font-size: 60px;
  color: #272727;
}
.header-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  margin: 32px 0px;
}
/* ------------------------ X ------------------------ */

/* ------------------------ featured style ------------------------ */
.featured-desciption {
  margin: 20px 0px 30px 0px;
}
.featurd-card {
  display: flex;
  justify-content: space-between;
}
.radius-card,
.radius-card-center {
  border-radius: 300px 300px 0px 0px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.radius-card img {
  width: 280px;
}
.radius-card-center {
  align-items: center;
}
.card-bacground1 {
  background: rgba(167, 33, 98, 0.15);
  padding: 0px 30px;
}
.card-bacground2 {
  background: rgba(5, 151, 160, 0.15);
  padding-left: 15px;
}
.card-bacground3 {
  background: rgba(71, 125, 17, 0.15);
  padding: 0px 35px;
}
.center > p {
  margin-top: 20px;
  text-decoration: underline;
}
/* ------------------------ X ------------------------ */

/* ------------------------ hot deal style ------------------------ */
.hot-deal {
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  padding: 100px 300px;
  justify-content: space-between;
  align-items: center;
}
.deal-description {
  margin: 20px 0px;
}
/* ------------------------ X ------------------------ */

/* ------------------------ instagrm style ------------------------ */
.instagram-img > img {
  width: 265px;
}
/* ------------------------ X ------------------------ */

/* ------------------------ testimonial style ------------------------ */
.review-card {
  display: flex;
  gap: 20px;
  margin-top: 100px;
}
.card-box {
  border-top: 2px solid rgb(102, 102, 102);
  border-radius: 7px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  cursor: pointer;
}
.image {
  position: absolute;
  top: -60px;
}
.image img {
  border-radius: 50%;
}
.user-name {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.user-name h4 {
  font-size: 18px;
}
.twitter-name {
  font-size: 14px;
  color: rgb(143, 142, 142);
  margin-bottom: 10px;
}
.user-description {
  padding: 0px 15px 15px 15px;
}
.verified {
  color: rgb(21, 177, 177);
  margin-left: 5px;
  font-size: 20px;
}
/* ------------------------ X ------------------------ */

/* ------------------------ get latest deals style ------------------------ */
.latest-deals {
  background-image: url("images/Rectangle 9.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 449px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.input-btn > input {
  padding: 18px 20px;
  margin-right: 10px;
  width: 700px;
  font-size: 16px;
  border: none;
}
/* ------------------------ X ------------------------ */

/* ------------------------ footer style ------------------------ */
.footer-text {
  background-color: #111010;
  padding: 128px 0px;
}
/* ------------------------ X ------------------------ */
